@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000000;
  font-size: 22px;
  line-height: 38px;
  font-weight: 300;
  height: 100%;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  position: relative;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #030303;
}

.header::before {
  content: "";
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #000;
  height: 60px;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.header__logo {
  position: relative;
  z-index: 15;
}

.header-menu__icon {
  display: none;
}

.header-menu__menu {
  position: relative;
  z-index: 15;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__list li {
  margin: 0px 0px 0px 55px;
}

.header-menu__link {
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
}

.header-menu__images {
  display: none;
}

.header-menu__img-long {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0px 0px 20px 0px;
}

.header-menu__img-long img {
  max-width: 658px;
  width: 100%;
}

.header-menu__row-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.header-menu__img {
  max-width: 310px;
}

.header-menu__img img {
  max-width: 319px;
  width: 100%;
}

.header-menu__social {
  display: none;
}

.footer {
  padding: 75px 0px 50px 0px;
}

.footer__column {
  border-bottom: 3px solid #666666;
}

.footer__column:last-child {
  border-bottom: none;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px 0px 0px;
}

.footer__item {
  color: #fff;
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 50px 0px;
}

.body-footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 340px;
          flex: 0 1 340px;
  margin: 0px 15px 0px 0px;
}

.body-footer__right-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-footer__nav {
  min-width: 310px;
}

.body-footer__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 128px;
}

.body-footer__list li {
  margin: 0px 150px 0px 0px;
}

.body-footer__list li:nth-child(4) {
  margin: 0px 0px 0px 0px;
}

.body-footer__list li:nth-child(5) {
  margin: 0px 0px 0px 0px;
}

.body-footer__list li:nth-child(6) {
  margin: 0px 0px 0px 0px;
}

.body-footer__social {
  margin: 40px 0px 0px 0px;
}

.body-footer__item {
  display: inline-block;
  margin: 0px 0px 0px 20px;
  width: 48px;
  height: 48px;
}

.body-footer__item--1 {
  background: url(../img/youtube.svg) 0 0 no-repeat;
}

.body-footer__item--2 {
  background: url(../img/instagram.svg) 0 0 no-repeat;
}

.body-footer__item--3 {
  background: url(../img/facebook.svg) 0 0 no-repeat;
}

.body-footer__item--4 {
  background: url(../img/twitter.svg) 0 0 no-repeat;
}

.body-footer__item--5 {
  background: url(../img/pinterest.svg) 0 0 no-repeat;
}

.section {
  padding: 75px 0px;
}

.dark-section {
  background-color: #030303;
}

.section-title {
  position: relative;
  z-index: 5;
  font-family: "Forum";
  color: #fff;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-title-g {
  color: #9d8665;
}

.section-title-little {
  position: relative;
  font-family: "Forum";
  margin: 0px 0px 22px 0px;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.section-title-little::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  max-width: 300px;
  height: 2px;
  background-color: #710707;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.decor::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #710707;
}

.logo {
  padding: 0px 0px 0px 75px;
  background: url(../img/logo1.svg) 0 0 no-repeat;
  font-family: "Forum";
  font-size: 28px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.menu-item {
  color: #fff;
  font-weight: 100;
}

.menu-item:hover {
  color: #9d8665;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.welcome {
  background-color: #000000;
  padding: 0px 0px 60px 0px;
}

.welcome__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.welcome__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.welcome__wrapper {
  position: absolute;
  z-index: 5;
  top: 150px;
  left: 0;
}

.welcome__title {
  line-height: 90px !important;
}

.welcome__text {
  position: relative;
  z-index: 5;
  margin: 25px 0px 0px 0px;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 2px;
  color: #fff;
}

.welcome__button {
  position: relative;
  z-index: 5;
  display: inline-block;
  margin: 75px 0px 0px 0px;
  padding: 0px 70px;
  line-height: 75px;
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: #710707;
  color: #fff;
}

.welcome__button:hover {
  background-color: #9d8665;
}

.carousel {
  position: relative;
  right: 0;
  overflow: hidden;
}

.carousel__container {
  overflow: hidden;
}

.carousel__item {
  position: relative;
  display: none;
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
}

.carousel__item img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.carousel__item.active,
.carousel__item.next {
  display: block;
}

.carousel__item.next {
  position: absolute;
  width: 100%;
  top: 0;
}

.controls {
  position: absolute;
  right: 0;
  bottom: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 75px;
  height: 120px;
  background-color: #000;
  color: #fff;
}

.controls__num {
  margin: 0px 10px;
}

.controls__num.last {
  margin: 0px 20px 0px 10px;
}

.controls__slash {
  font-size: 18px;
}

.controls__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls__dot {
  margin: 0px 0px 0px 25px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.controls__dot.active {
  background-color: #9d8665;
}

.controls__dot:hover {
  background-color: #9d8665;
}

.controls__arrow {
  display: inline-block;
  background: url(../img/welcome/arrow.svg) 0 0 no-repeat;
  width: 30px;
  height: 8px;
  cursor: pointer;
}

.controls__arrow.left {
  margin: 0px 0px 0px 60px;
}

.controls__arrow.right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0px 0px 0px 20px;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

@-webkit-keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.visiting__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 103px 0px 0px 0px;
  margin: 0px -30px 0px -30px;
}

.visiting__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 0px 30px;
  margin: 0px 0px 65px 0px;
}

.columb-visiting:hover .section-title-little::after {
  max-width: 100%;
}

.columb-visiting__img {
  margin: 0px 0px 25px 0px;
  width: 100%;
}

.columb-visiting__img img {
  max-width: 440px;
}

.columb-visiting__text {
  margin: 0px 0px 8px 0px;
  font-weight: 100;
  line-height: 25px;
  color: #000000;
}

.columb-visiting__text:last-child {
  font-size: 18px;
}

.explore__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore__content {
  margin: 0px 60px 0px 0px;
}

.explore__title {
  margin: 0px 0px 100px 0px;
}

.explore__text {
  margin: 0px 0px 25px 0px;
  color: #fff;
}

.explore__text span {
  color: #9d8665;
}

.compare-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 720px;
          flex: 0 0 720px;
}

.compare-img__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 700px;
  overflow: hidden;
}

.compare-img__wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.compare-img__image {
  width: 100%;
}

.compare-img__image img {
  max-width: 720px;
}

.compare-img__image.before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  height: 100%;
  width: 60%;
  overflow: hidden;
}

.compare-img__slice {
  position: absolute;
  top: 0;
  left: 60%;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.compare-img__slice::before,
.compare-img__slice::after {
  position: absolute;
  content: "";
  width: 2px;
  height: calc(50% - 20px);
  background-color: #fff;
}

.compare-img__slice span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.compare-img__slice::after {
  bottom: 0;
}

.video__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 75px 0px;
}

.video__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.video__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.player {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.player__video {
  position: relative;
  z-index: 2;
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

.player__controls {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 85px;
  padding: 0px 25px 0px 30px;
  background-color: #000;
}

.player__button {
  margin: 0px 50px 0px 0px;
  background-color: transparent;
}

.player__button img {
  width: 23px;
  height: 31px;
}

.player__sound {
  margin: 0px 50px;
  background-color: transparent;
}

.player__sound img {
  height: 31px;
  width: 38px;
}

.player__slider {
  width: 155px;
  height: 6px;
  background: #c8c8c8;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.player__fullscreen {
  background-color: transparent;
  margin: 0px 0px 0px 50px;
}

.player__fullscreen img {
  width: 35px;
  height: 35px;
}

.player__big-play {
  position: absolute;
  z-index: 5;
  top: calc(50% - 110px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.player__big-play img {
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.progress {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6px;
  width: 600px;
  background: #c8c8c8;
  cursor: pointer;
}

.progress__filled {
  width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 6px;
  background-color: #710707;
}

.gallery__body {
  padding: 75px 0px 0px 0px;
}

.picture-container {
  margin: 75px 0px 0px 0px;
  height: 1960px;
  overflow: hidden;
}

.picture-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 2850px;
  overflow: hidden;
  row-gap: 24px;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  font-size: 0;
  max-width: 1440px;
}

.picture-inner-container img {
  max-width: 456px;
  width: 100%;
}

.picture-inner-container__img {
  position: relative;
  display: block;
  -webkit-transition: All 0.6s;
  -o-transition: All 0.6s;
  transition: All 0.6s;
}

.picture-inner-container__img:first-child,
.picture-inner-container__img:nth-child(11) {
  margin: 50px 0px 0px 0px;
}

.picture-inner-container__img.active {
  opacity: 1;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.tickets__title {
  margin: 0px 0px 103px 0px;
}

.tickets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets__content .title-tickets {
  color: #000;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.tickets__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.tickets__radio {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.radio-tickets {
  padding: 0px 0px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.radio-tickets__title {
  margin: 0px 0px 50px 0px;
}

.radio-tickets__label {
  display: inline-block;
  position: relative;
  margin: 0px 0px 50px 0px;
  padding: 0px 0px 0px 40px;
  cursor: pointer;
  line-height: 22px;
}

.radio-tickets__item {
  position: absolute;
  opacity: 0;
}

.radio-tickets__item:checked ~ .radio-tickets__checkmark::after {
  display: block;
}

.radio-tickets__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #000;
  border-radius: 50%;
}

.radio-tickets__checkmark::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
  display: none;
}

.amount-tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.amount-tickets__title {
  margin: 0px 0px 10px 0px;
}

.amount-tickets__subtitle {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 0px 15px 25px;
}

.amount-tickets__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 35px 0px;
  padding: 0px 10px 0px 13px;
  width: 150px;
  border: 3px solid #000;
}

.amount-tickets__btn {
  all: unset;
  color: #000;
  width: 18px;
  cursor: pointer;
}

.amount-tickets__number {
  display: inline-block;
  margin: 0px 0px 0px 10px;
  all: unset;
  width: 40px;
  text-align: center;
  z-index: 5;
}

.amount-tickets__price {
  margin: 0px 0px 50px 0px;
  letter-spacing: 1.6px;
}

.amount-tickets__button {
  display: inline-block;
  width: 175px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 22px;
  letter-spacing: 2px;
}

.amount-tickets__button:hover {
  background-color: #9d8665;
  color: #000;
}

.parallax {
  position: relative;
}

.parallax__body {
  display: block;
  background: url(../img/parallax.jpg) 0 0/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}

.contacts__title {
  margin: 0px 0px 103px 0px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin: 0px 20px 0px 0px;
}

.contacts__subtitle {
  margin: 0px 0px 35px 0px;
  font-weight: 700;
  font-size: 28px;
}

.contacts__item {
  margin: 0px 0px 20px 0px;
}

.contacts__item a {
  color: #000;
}

.contacts__item a:hover {
  text-decoration: underline;
}

.contacts__map {
  max-width: 960px;
  width: 100%;
  height: 620px;
}

.contacts__google-map {
  width: 100%;
  max-width: 960px;
  height: 100%;
}

.iframe-tours {
  width: 100%;
  height: 100vh;
}

.iframe-tours iframe {
  width: 100%;
  height: 100vh;
}

.popup {
  display: none;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 40;
  background-color: #dbdbdbda;
  padding: 50px 0px;
}

.popup.active {
  display: block;
}

.popup__content {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}

.popup__close {
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 30px;
  height: 1px;
  background-color: #000;
}

.popup__close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 20px;
  font-size: 18px;
  line-height: 21px;
}

.booking {
  max-width: 400px;
  width: 100%;
  margin: 0px 40px 0px 0px;
}

.booking__icon {
  background: url(/img/popup/logo.svg) 0 0 no-repeat;
  width: 85px;
  height: 41px;
  margin: 0px 0px 5px 0px;
}

.booking__title {
  margin: 0px 0px 15px 0px;
  font-size: 50px !important;
  line-height: 55px;
  letter-spacing: normal;
  white-space: nowrap;
}

.booking__subtitle {
  position: relative;
  color: #710707;
  margin: 0px 0px 73px 0px;
}

.booking__subtitle.decor::after {
  bottom: -10px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__time-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__field {
  border: 1px solid #000;
  padding: 12px 15px 12px 44px;
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
}

.form__field::-webkit-input-placeholder {
  color: #000;
}

.form__field::-moz-placeholder {
  color: #000;
}

.form__field:-ms-input-placeholder {
  color: #000;
}

.form__field::-ms-input-placeholder {
  color: #000;
}

.form__field::placeholder {
  color: #000;
}

.form__field.date {
  background: url(../img/popup/date.svg) 15px 50% no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0px 20px 0px 0px;
  width: 100%;
  height: 51px;
}

.form__field.date::-webkit-calendar-picker-indicator {
  background: url(../img/popup/arrow.svg) 96% 50% no-repeat;
  cursor: pointer;
}

.form__field.time {
  background: url(../img/popup/time.svg) 15px 50% no-repeat;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 190px;
  width: 100%;
}

.form__field.time::-webkit-calendar-picker-indicator {
  background: url(../img/popup/arrow.svg) 96% 50% no-repeat;
  cursor: pointer;
}

.form__field.name {
  background: url(../img/popup/name.svg) 15px 50% no-repeat;
}

.form__field.email {
  background: url(../img/popup/email.svg) 15px 50% no-repeat;
}

.form__field.phone {
  background: url(../img/popup/tel.svg) 15px 40% no-repeat;
}

.form__field.select {
  background: url(../img/popup/ballot.svg) 15px 50% no-repeat, url(/img/popup/arrow.svg) 96% 50% no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.add-ticket {
  padding: 10px 15px 15px 15px;
}

.add-ticket__title {
  position: relative;
  margin: 0px 0px 25px 0px;
  font-family: "Forum";
  color: #9d8665;
}

.add-ticket__title.decor::after {
  bottom: -5px;
  height: 2px;
}

.add-ticket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 18px 0px;
}

.add-ticket__item:last-child {
  margin: 0px 0px 0px 0px;
}

.add-ticket__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.add-ticket__btn {
  width: 35px;
  height: 25px;
  color: #fff;
  background-color: #000;
}

.add-ticket__value {
  padding: 0px 12px;
  line-height: 21px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.overview {
  overflow: auto;
  max-width: 530px;
  width: 100%;
}

.overview__border {
  border: 2px solid #000;
  padding: 30px 25px;
}

.overview__button {
  text-align: right;
  margin: 60px 0px 0px 0px;
}

.overview__btn {
  width: 220px;
  height: 45px;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #710707;
}

.overview__btn:hover {
  background-color: #9d8665;
}

.top-overview {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 15px 0px;
}

.top-overview__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-overview__title {
  margin: 0px 0px 3px 0px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.top-overview__subtitle {
  margin: 0px 0px 10px 0px;
  color: #710707;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}

.top-overview__item {
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 6px 0px;
}

.top-overview__item.date-icon {
  background: url(/img/popup/date.svg) 0 2px no-repeat;
}

.top-overview__item.time-icon {
  background: url(/img/popup/time.svg) 0 2px no-repeat;
}

.top-overview__item.type-icon {
  background: url(/img/popup/check.svg) 0 2px no-repeat;
}

.middle-overview {
  overflow: auto;
  margin: 0px 0px 18px 0px;
}

.middle-overview__point {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 5px 0px;
  font-weight: 400;
}

.middle-overview__point.decor::after {
  bottom: -10px;
  height: 2px;
}

.middle-overview__number {
  margin: 0px 10px 0px 0px;
  width: 32px;
  height: 20px;
  background-color: #000;
  border-radius: 4px;
  color: #a4a4a3;
  text-align: center;
}

.middle-overview__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 22px;
  line-height: 26px;
}

.middle-overview__price {
  font-size: 22px;
  line-height: 26px;
}

.middle-overview__price::after {
  content: " €";
  width: 10px;
  height: 10px;
}

.middle-overview__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px 0px 0px;
  font-size: 32px;
  line-height: 38px;
}

.middle-overview__total {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 400;
}

.middle-overview__money {
  font-weight: 500;
}

.bottom-overview {
  position: relative;
  margin: 0px 0px 26px 0px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.visa {
  position: relative;
  z-index: 5;
  background-color: #bcbcbc;
  padding: 15px 20px 3px 20px;
  max-width: 360px;
}

.visa__body {
  position: relative;
}

.visa__body::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 55px;
  height: 16px;
  background: url(/img/popup/visa.svg) 0 0 no-repeat;
}

.visa__body::after {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  width: 53px;
  height: 32px;
  background: url(/img/popup/mastercard.svg) 0 0 no-repeat;
}

.visa__label {
  margin: 0px 0px 5px 0px;
}

.visa__input {
  margin: 0px 0px 12px 0px;
  padding: 0px 10px;
  height: 35px;
  max-width: 215px;
  width: 100%;
}

.visa__input.long {
  max-width: 320px;
}

.visa__input-num {
  margin: 0px 15px 12px 0px;
  max-width: 100px;
}

.visa__input-num:last-child {
  margin: 0px 0px 0px 0px;
}

.behind-visa {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #939393;
  padding: 85px 20px 15px 20px;
  max-width: 360px;
  width: 100%;
  height: 211px;
}

.behind-visa::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 0;
  height: 45px;
  max-width: 360px;
  width: 100%;
  background-color: #000;
}

.behind-visa__cvv {
  margin: 0px 10px 3px 0px;
  text-transform: uppercase;
}

.behind-visa__input {
  margin: 0px 0px 6px 0px;
  padding: 0px 10px;
  width: 75px;
  height: 35px;
}

.behind-visa__text {
  max-width: 55px;
  font-size: 10px;
  line-height: 12px;
}

@media (max-width: 1918px) {
  .header {
    height: 120px;
  }

  .header__row {
    height: 120px;
  }

  .header-menu__list li {
    margin: 0px 0px 0px 45px;
  }

  .section-title {
    font-size: 60px;
  }

  .welcome__wrapper {
    top: 100px;
  }

  .carousel__item {
    max-height: 600px;
  }

  .explore__column.left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1479px) {
  .visiting__body {
    margin: 0px -54px;
  }

  .visiting__column {
    padding: 0px 54px;
  }
}

@media (max-width: 1340px) {
  .radio-tickets {
    display: none;
  }

  .amount-tickets {
    padding: 0px 0px 0px 80px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .amount-tickets__subtitle {
    margin: 0px 0px 10px 0px;
  }

  .amount-tickets__item {
    margin: 0px 0px 25px 0px;
    width: 175px;
  }
}

@media (max-width: 1232px) {
  .explore__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1170px) {
  .body-footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 20px;
  }

  .header::before {
    height: 100px;
  }

  .header {
    height: 100px;
  }

  .header__row {
    height: 100px;
  }

  .header-menu__icon {
    display: block;
    position: relative;
    z-index: 15;
    cursor: pointer;
    width: 30px;
    height: 18px;
  }

  .header-menu__icon::before,
  .header-menu__icon::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__icon::before {
    top: 0;
  }

  .header-menu__icon span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__icon::after {
    bottom: 0;
  }

  .header-menu__icon.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }

  .header-menu__icon.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }

  .header-menu__icon.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header-menu__menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
    top: 0px;
    left: -100%;
    max-width: 297px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    padding: 145px 55px 30px 55px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu__menu.active {
    left: 0;
  }

  .header-menu__list {
    display: block;
  }

  .header-menu__list li {
    margin: 0px 0px 25px 0px;
  }

  .header-menu__link {
    width: 122px;
    font-size: 20px;
  }

  .header-menu__link::after {
    content: "";
    position: absolute;
    right: 0;
    top: 13px;
    background: url(../img/arrow-menu.svg) 0 0 no-repeat;
    width: 7px;
    height: 12px;
  }

  .footer {
    padding: 60px 0px 50px 0px;
  }

  .body-footer__right-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-footer__list li {
    margin: 0px 100px 0px 0px;
  }

  .body-footer__item:first-child {
    margin: 0px 0px 0px 0px;
  }

  .section {
    padding: 60px 0px;
  }

  .section-title {
    font-size: 50px;
    line-height: 75px;
  }

  .section-title-little::after {
    max-width: 150px;
  }

  .section-title-little {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 3px;
  }

  .welcome__wrapper {
    top: 50px;
  }

  .welcome__text {
    font-size: 24px;
    line-height: 28px;
  }

  .welcome__button {
    margin: 50px 0px 0px 0px;
    padding: 0px 45px;
    font-size: 20px;
    line-height: 60px;
  }

  .carousel__item {
    max-width: 700px;
    max-height: 530px;
  }

  .controls {
    width: 100%;
  }

  .controls__num.last {
    margin: 0px 20px 0px 10px;
  }

  .controls__num {
    font-size: 20px;
  }

  .controls__dot {
    width: 12px;
    height: 12px;
  }

  .controls__arrow.left {
    margin: 0px 0px 0px 45px;
  }

  .visiting__body {
    margin: 0px -35px;
    padding: 83px 0px 0px 0px;
  }

  .visiting__column {
    padding: 0px 35px;
    margin: 0px 0px 45px 0px;
  }

  .columb-visiting__img img {
    max-width: 330px;
  }

  .columb-visiting__text {
    font-size: 20px;
  }

  .columb-visiting__text:last-child {
    font-size: 16px;
  }

  .explore__content {
    margin: 0px 0px 62px 0px;
  }

  .explore__title {
    margin: 0px 0px 83px 0px;
  }

  .explore__text {
    margin: 0px 0px 0px 0px;
  }

  .explore__text:last-child {
    display: none;
  }

  .compare-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .video__row {
    margin: 0px 0px 40px 0px;
  }

  .video__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .video__text {
    display: none;
  }

  .player__controls {
    height: 60px;
  }

  .player__button {
    margin: 0px 30px 0px 0px;
  }

  .player__button img {
    height: 25px;
    width: 20px;
  }

  .player__sound {
    margin: 0px 30px;
  }

  .player__sound img {
    width: 26px;
    height: 20px;
  }

  .player__slider {
    width: 143px;
  }

  .player__fullscreen img {
    width: 25px;
    height: 25px;
  }

  .player__fullscreen {
    margin: 0px 0px 0px 30px;
  }

  .player__big-play {
    top: calc(50% - 70px);
  }

  .player__big-play img {
    width: 102px;
    height: 102px;
  }

  .gallery__body {
    padding: 60px 0px 0px 0px;
  }

  .picture-container {
    margin: 60px 0px 0px 0px;
    height: 1315px;
  }

  .picture-inner-container img {
    max-width: 304px;
    width: 100%;
  }

  .picture-inner-container {
    height: 1900px;
  }

  .tickets__title {
    margin: 0px 0px 83px 0px;
  }

  .tickets__image img {
    width: 100%;
    max-width: 700px;
  }

  .tickets__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 700px;
            flex: 0 1 700px;
  }

  .contacts__title {
    margin: 0px 0px 83px 0px;
  }

  .contacts__subtitle {
    font-size: 24px;
    line-height: 28px;
  }

  .contacts__item {
    margin: 0px 0px 15px 0px;
  }

  .contacts__map {
    height: 424px;
  }

  .popup__content {
    max-width: 590px;
    width: 100%;
  }

  .popup__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 30px;
  }

  .booking {
    margin: 0px 0px 0px 0px;
    max-width: 530px;
    width: 100%;
  }

  .form__field.time {
    max-width: 250px;
  }

  .add-ticket {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header::before {
    height: 70px;
  }

  .header {
    height: 70px;
  }

  .header__row {
    height: 70px;
  }

  .header-menu__menu {
    padding: 110px 55px 30px 55px;
    max-width: 100%;
  }

  .header-menu__images {
    display: block;
    position: relative;
    margin: 0px 0px 40px 0px;
  }

  .header-menu__images::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .header-menu__social {
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .header-menu__social .body-footer__item {
    margin: 0px 5px 0px 0px;
  }

  .footer {
    padding: 40px 0px 40px 0px;
  }

  .footer__bottom {
    padding: 40px 0px 0px 0px;
  }

  .body-footer {
    display: block;
    padding: 0px 0px 40px 0px;
  }

  .body-footer__right-block {
    margin: 40px 0px 0px 0px;
  }

  .body-footer__nav {
    min-width: 200px;
  }

  .body-footer__list li {
    margin: 0px 60px 0px 0px;
  }

  .section {
    padding: 40px 0px;
  }

  .section-title {
    font-size: 40px;
    line-height: 60px;
  }

  .section-title-little {
    font-size: 22px;
    line-height: 24px;
  }

  .welcome {
    padding: 0px 0px 0px 0px;
  }

  .welcome__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .welcome__wrapper {
    position: relative;
    top: 0;
  }

  .welcome__title {
    text-align: center;
    line-height: 60px !important;
  }

  .welcome__text {
    margin: 25px 0px 50px 0px;
    font-size: 20px;
    text-align: center;
  }

  .welcome__button {
    display: none;
  }

  .carousel__item {
    max-height: 546px;
  }

  .controls {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 10px;
    height: 100px;
    bottom: 0;
  }

  .visiting__body {
    margin: 0px -28px;
    padding: 63px 0px 0px 0px;
  }

  .visiting__column {
    margin: 0px 0px 30px 0px;
    padding: 0px 28px;
  }

  .visiting__column:last-child {
    margin: 0px 0px 0px 0px;
  }

  .columb-visiting__img img {
    max-width: 280px;
  }

  .columb-visiting__text {
    font-size: 18px;
  }

  .explore__column.left {
    display: block;
    width: 100%;
  }

  .explore__title {
    margin: 0px 0px 63px 0px;
  }

  .explore__text {
    display: none;
  }

  .video__row {
    margin: 0px 0px 20px 0px;
  }

  .player__controls {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px 0px 0px 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 53px;
  }

  .player__progress {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    width: 100%;
  }

  .player__button {
    margin: 0px 5px 0px 30px;
  }

  .player__sound {
    height: 25px;
  }

  .player__slider {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 9px 0px 0px 0px;
  }

  .player__fullscreen {
    margin: 0px 30px;
    height: 25px;
  }

  .player__big-play {
    top: calc(50% - 60px);
  }

  .player__big-play img {
    width: 80px;
    height: 80px;
  }

  .gallery__body {
    padding: 40px 0px 0px 0px;
  }

  .picture-container {
    margin: 40px 0px 0px 0px;
    height: 1080px;
  }

  .picture-inner-container img {
    max-width: 352px;
  }

  .picture-inner-container {
    height: 2020px;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }

  .picture-inner-container__img:nth-child(11) {
    margin: 0px 0px 0px 0px;
  }

  .tickets__title {
    margin: 0px 0px 63px 0px;
  }

  .amount-tickets {
    padding: 0px 0px 0px 60px;
  }

  .amount-tickets__price {
    margin: 0px 0px 40px 0px;
  }

  .parallax__body {
    height: 300px;
  }

  .contacts__title {
    margin: 0px 0px 63px 0px;
  }

  .contacts__content {
    display: block;
  }

  .contacts__subtitle {
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__item {
    font-size: 18px;
    line-height: 21px;
  }

  .contacts__map {
    margin: 40px 0px 0px 0px;
  }

  .popup {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 760px) {
  .compare-img__image img {
    height: 368px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .compare-img__image.before {
    height: 368px;
  }

  .compare-img__image.after {
    height: 368px;
  }

  .compare-img__slice {
    max-height: 368px;
  }
}

@media (max-width: 700px) {
  .tickets__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .tickets__image img {
    width: 100%;
  }

  .tickets__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 40px 0px;
    max-height: 400px;
    height: 100%;
    overflow: hidden;
  }

  .amount-tickets {
    padding: 0px 0px 0px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .popup__body {
    padding: 60px 15px;
  }

  .booking__title {
    font-size: 32px !important;
    line-height: 35px;
  }

  .booking__subtitle {
    margin: 0px 0px 50px 0px;
  }

  .form__field.time {
    max-width: none;
  }

  .overview__border {
    padding: 30px 15px;
  }

  .top-overview__img img {
    height: 96px;
  }

  .visa {
    margin: 0 auto;
    padding: 15px 15px 3px 15px;
  }

  .behind-visa {
    position: relative;
    top: 25px;
    margin: 0 auto;
    padding: 85px 15px 15px 15px;
  }
}

@media (max-width: 530px) {
  .footer__item:nth-child(2) {
    display: none;
  }
}

@media (max-width: 420px) {
  .body-footer__item {
    margin: 0px 0px 0px 5px;
  }

  .section {
    padding: 35px 0px;
  }

  .section-title {
    font-size: 28px;
    line-height: 40px;
  }

  .section-title-little {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
  }

  .welcome__text {
    font-size: 16px;
    line-height: 18px;
  }

  .carousel__item {
    max-height: 285px;
  }

  .controls {
    height: 80px;
  }

  .controls__num.last {
    margin: 0px 15px 0px 5px;
  }

  .controls__num {
    margin: 0px 5px;
    font-size: 16px;
  }

  .controls__dot {
    width: 7px;
    height: 7px;
    margin: 0px 0px 0px 10px;
  }

  .controls__arrow {
    width: 20px;
  }

  .controls__arrow.left {
    margin: 0px 0px 0px 25px;
  }

  .compare-img__image img {
    height: 270px;
  }

  .compare-img__image.before {
    height: 270px;
  }

  .compare-img__image.after {
    height: 270px;
  }

  .compare-img__slice {
    max-height: 270px;
  }

  .player__controls {
    height: 50px;
  }

  .player__button {
    margin: 0px 0px 0px 20px;
    height: 32px;
  }

  .player__button img {
    width: 14px;
    height: 18px;
  }

  .player__sound {
    margin: 0px 25px;
    height: 35px;
  }

  .player__sound img {
    width: 18px;
    height: 14px;
  }

  .player__slider {
    margin: 13px 0px 0px 0px;
  }

  .player__fullscreen img {
    width: 18px;
    height: 18px;
  }

  .player__fullscreen {
    height: 32px;
    margin: 0px 15px 0px 25px;
  }

  .player__big-play {
    top: calc(50% - 40px);
  }

  .player__big-play img {
    width: 50px;
    height: 50px;
  }

  .picture-container {
    height: 637px;
  }

  .picture-inner-container img {
    max-width: 178px;
  }

  .tickets__content .title-tickets {
    font-size: 16px;
    line-height: 18px;
  }

  .amount-tickets__subtitle {
    font-size: 16px;
    line-height: 18px;
  }

  .contacts__title {
    margin: 0px 0px 43px 0px;
  }

  .contacts__map {
    height: 248px;
  }

  .form__time-point {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__field.date {
    margin: 0px 0px 20px 0px;
  }
}